<div>
    <div class="col-sm-12">
        <div class="btn-group" ng-show="multiselect">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu multi-level">
                <li class="dropdown-submenu">
                    <a href="#">Cambiar estado a</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="status in allStatus">
                            <a ng-click="bulkStatusChange(status.id)">
                                {{ status.name|capitalize }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">Asignar a</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="user in availableUsers">
                            <a ng-click="bulkChangeAssignee(user.id)">
                                <span  data-ng-if="user.firstname" data-ng-attr-value="">{{user.firstname}}</span>
                                <span  data-ng-if="(user.firstname && user.lastname)">{{user.lastname}}</span>
                                <span  data-ng-if="!user.firstname" >{{user.username}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <a href="#/list" class="btn btn-link btn-xs pull-right">
            <i class="fa fa-list"></i>
            Lista
        </a>
    </div>
    <div class="col-sm-12" ng-show="loading">
        loading...
    </div>
    <div class="col-md-4" ng-repeat="status in tasks">
        <div class="row">
            <div class="col-xs-4">
                <h4>
                    <div ng-show="status.entity.name == 'todo'">
                        Pendientes
                    </div>
                    <div ng-show="status.entity.name == 'doing'">
                        Realizando
                    </div>
                    <div ng-show="status.entity.name == 'done'">
                        Finalizadas
                    </div>
                </h4>
            </div>
            <div class="col-xs-8">
                <input type="text" ng-show="filter_{{status.entity.id}}" id="filter_{{status.entity.id}}"
                       ng-model="search.$" maxlength="255" class="form-control" style="width: 85%;float: right;"
                       ui-event="{keydown:'keypressFilter($event, $parent.$index, $index)'}">
                <i class="fa fa-filter" ng-click="toggleFilter('filter_'+status.entity.id)"
                   style="float: right;font-size: 15px;margin: 7px;cursor: pointer;"></i>

            </div>
            <div class="col-xs-12">
                <div ng-show="status.entity.name == 'todo'">
                    <a href="" ng-click="selectAllColumn('TODO',status.tasks)">
                        <small data-ng-if="selectAllStatus.TODO">seleccionar todo</small>
                        <small data-ng-if="!selectAllStatus.TODO">deseleccionar todo</small>
                    </a>
                </div>
                <div ng-show="status.entity.name == 'doing'">
                    <a href="" ng-click="selectAllColumn('DOING',status.tasks)">
                        <small data-ng-if="selectAllStatus.DOING">seleccionar todo</small>
                        <small data-ng-if="!selectAllStatus.DOING">deseleccionar todo</small>
                    </a>
                </div>
                <div ng-show="status.entity.name == 'done'">
                    <a href="" ng-click="selectAllColumn('DONE',status.tasks)">
                        <small data-ng-if="selectAllStatus.DONE">seleccionar todo</small>
                        <small data-ng-if="!selectAllStatus.DONE">deseleccionar todo</small>
                    </a>
                </div>
            </div>
        </div>

        <ul class="list-unstyled tasklist col-sm-12" id="{{ status.entity.name}}" ui-sortable="sortableOptions"
            ng-model="status.tasks">
            <li class="card" ng-class="{selected: task.selected}"
                ng-repeat="task in status.tasks | filter:search:strict" ng-click="singleClick(task, $event)">
                <input type="hidden" value="{{ task.id}}" class="task-id"/>
                <div class="box box-solid bg-postit">
                    <div class="box-header">
                        <div class="pull-right">
                            <button ng-click="logTime(task); $event.stopPropagation();" class="btn btn-link btn-xs"><i
                                    style="color: #CC3E32;" class="fa fa-clock-o"></i></button>
                        </div>
                        <div class="box-title" ng-class="{editing: task == editedTodo}" style="width: 90%;">
                            <h5 ng-dblclick="doubleClick(task)">
                            <a href="/task/{{task.id}}/show">#{{ task.id}}</a>
                            {{ task.name }}</h5>
                            <form ng-submit="saveTask($parent.$index, $index)">
                                <input type="text" class="form-control editable" ng-click="$event.stopPropagation();"
                                       placeholder="Click to edit" ng-model="editedTodo.name"
                                       ui-event="{keydown:'keypressCallback($event, $parent.$index, $index)'}"/>
                            </form>
                        </div>
                    </div>
                    <div class="box-body">
                        <small class="">
                            {{ task.assignee.initials}}
                        </small>

                        <div class=" pull-right">
                            {{ task.estimated}}
                        </div>

                    </div>
                </div>
            </li>

        </ul>
        <a ng-click="addNewTo($index)" class="btn btn-link">
            <i class="fa fa-plus"></i> Agregar
        </a>
    </div>

</div>

<script type="text/ng-template" id="logTime.html">
    <form ng-submit="doneLogTime()">
        <div class="modal-header">
            <h3 class="modal-title">
                Log time for: {{timelogEditing.task.name}}
            </h3>
        </div>
        <div class="modal-body">
            <div class="">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-clock-o"></i></span>
                    <input type="number" ng-model="timelogEditing.hours" class="form-control" autofocus
                           placeholder="Hours" aria-describedby="basic-addon1"/>
                </div>
                <div>
                    <input type="text" ng-model="timelogEditing.description" class="form-control"
                           placeholder="Description"/>
                </div>
            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
    </form>
</script>
